:root {
  --border-width: 2px;
  --line-width: 1px;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border-width) solid black; /* Grid border */
  padding: 10px;
  width: calc(
    var(--grid-width) + 2 * var(--border-width)
  ); /* Ensure the grid fits within the game board */
  margin: 0 auto; /* Center the game board horizontally */
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--cell-count), var(--cell-size));
  grid-template-rows: repeat(var(--cell-count), var(--cell-size));
  gap: var(--line-width); /* Separation lines between cells */
  background-color: white; /* Color of separation lines */
  background-image: url("grass.png");
  background-size: cover; /* Ensure background fits the grid */
  position: relative;
}

.cell {
  background-color: transparent; /* Transparent so grid lines are visible */
  border: var(--line-width) solid white; /* Border for visible grid lines */
}

.snake {
  background-color: yellow;
}

.food {
  background-image: url("apple.png"); /* Use apple image for the food */
  background-size: contain; /* Ensure the image fits the entire cell */
  background-position: center; /* Center the image within the cell */
  background-repeat: no-repeat; /* Avoid tiling of the image */
  width: 100%; /* Ensure the food takes up the full width of the cell */
  height: 100%; /* Ensure the food takes up the full height of the cell */
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  margin-top: 20px;
}

button {
  font-size: 24px;
  margin: 5px;
  padding: 10px;
}

.decoration-image {
  width: 100%; /* Make the image take the full width of the cell */
  height: 100%; /* Make the image take the full height of the cell */
  background-size: contain; /* Ensure the image fits the entire cell */
  background-position: center; /* Center the image within the cell */
  background-repeat: no-repeat; /* Avoid tiling of the image */

  display: flex;
  justify-content: center;
  align-items: center;
}
